# Python
__pycache__/
*.pyc
*.pyo
test.py
compare_doench.py

# Автогенерированные файлы программы, файлы для анализа
output/
*.xlsx
*.xls
*.fasta
configs.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
.directory
grdh_dev.venv

# ViennaRNA / cairosvg временные файлы
*.svg